@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
*{
    font-family: 'nunito',sans-serif;
}
.text{
    color: #494ad7;
    font-weight: 600;
    font-size: larger;

}
.logo{
    width: 40px;
}
.container{
    margin-left: -0.1cm;
}
.moni{
    background-color: #fff !important;
}

