@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Libre+Franklin&family=Nunito&display=swap');
  body{
background-color: #fcfcd0 !important;
font-family: 'Libre Franklin', sans-serif !important;
}
.first_ul{
    list-style-type: none;
    display: flex;
    
}
ul{
    list-style-type: none;
}

a{
    margin: 0.5cm;
}
.demo{
    border:none;
    border-radius: 5px;
}
.login{
    margin-left: 2cm !important;
}
.the{
    font-size: 4.5em;
    line-height: normal;
}
.link{
    margin-left: -0.5cm;
}
.link:hover{
    text-decoration: underline;
    text-decoration-color: #0d6efd;
}
.section_two{
    background-color: #000b50;
}
.section_three{
    background-color: #f5f5f5;
}
.section_four{
    background-color: #e3f8ff;
}
.lastpart{
    /* margin-top: -12cm !important; */
}
.hello_world{
    background-color: #fee27d;
    
}
.footer{
    background-color: #000b50; 
}
.offcanvas{
    background-color:#fcfcd0 !important;
}